*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.col {
  display: flex;
}
.main {
  width: 99vw;
}
.btn1 {
  padding-right: 30px;
}
.btn1:hover {
  border-bottom: solid 3px purple;
}
.btn-submit {
  margin-left: 78vw;
  margin-top: 37.5vh;
  width: 87px;
}
.container {
  margin-top: 10px;
  background-color: #00000029;
  padding-bottom: 5px;
}
.box {
  /* margin-top: 70px; */
  width: 85vw;
  height: 80vh;
  background-color: white;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
}
.spac {
  margin-right: 15px;
}
.para {
  margin-bottom: 0;
  font-weight: 500;
}
.radio-btns {
  display: flex;
}
.r-btn {
  margin-right: 15px;
}
.arom {
  color: #2a62b7;
  margin-top: 10px;
  margin-bottom: 0;
}
.u-para {
  margin-bottom: 7px;
}
